body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vb;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vw;
}
section:not([data-shown]) {
    display: none;
}
@media print {
    section:not([data-shown]) {
        display: flex;
    }
    section {
        border-bottom: 2px solid black;
        break-inside: avoid;
        break-after: auto;
        min-height: 300px;
    }
}