canvas {
    border: 2px solid var(--black);
    border-radius: 10px;
    touch-action: none;
}
canvas[data-flex] {
    margin-bottom: 90vh;
    min-width: calc(100% - 4px);
}

#colors-bar {
    position: fixed;
    right: 4vi;
    bottom: 3vi;
    height: 2vi;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}
body:has(main[data-view="n"]) #colors-bar {
    zoom: 0.7;
    right: 68vi;
    bottom: 68vb;
}

#colors-bar > .color {
    position: relative;
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    margin-left: 10px;
    cursor: pointer;
    border: 1px solid var(--black);
    outline: 1px solid var(--white);
    font-size: 15px;
    margin: 2.5px 5.5px;
}

#colors-bar > .color[data-selected] {
    width: 20px;
    height: 20px;
    font-size: 20px;
    margin: 0 3px;
    --margin: -3px;
}

#colors-bar > .color::before {
    content: '';
    position: absolute;
    top: var(--margin);
    left: var(--margin);
    right: var(--margin);
    bottom: var(--margin);
    pointer-events: auto;
    background: transparent;
    --margin: -5.5px;
}

@media print {
    canvas {
        margin-bottom: 0;
        border: none !important;
    }
}