body {
    margin: 0;
    --black: #222222;
    --white: #dddddd;
    background-color: var(--white);
    color: var(--black);
    overflow: hidden;
}
main {
    container-type: size;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    height: calc(100vh - 4vw - 10px);
    width: 96vw;
    overflow: auto;
}

main[data-view=n] {
    border: 2px solid var(--black);
    border: 2px solid var(--black);
    height: calc( (100vh - 4vw) * 2 / 3);
    width: calc( 96vw * 2 / 3);
}

body:has(main[data-view=n]) > :is(aside, footer)  {
    zoom: 1;
    position: absolute;
    display: block;
    top: 0.5vw;
    right: 0.5vw;
    bottom: 0.5vw;
    left: 67vw;
    overflow-x: hidden;
    overflow-y: auto;
}
body:has(main[data-view=n]) > footer {
    top: 67vh;
    left: 0.5vw;
    right: 33.5vw;
}

#html-body, #html-head, body > aside, body > footer{
    display: none;
}

pre.edit {
    border: 2px solid var(--black);
    border-radius: 10px;
    min-height: 150px;
    min-width: 300px;
}

pre, aside, footer {
    font-family: monospace;
    white-space: pre-wrap;
}

.only-print {
    display: none;
}

@media (prefers-color-scheme: dark) {
    body {
        --black: #dddddd;
        --white: #222222;
    }
}

@media print {
    body {
        --black: black;
        --white: white;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        /* border-bottom: 1px solid var(--black); */
        padding: 20px 0px;
        width: 100%;
    }
    section:nth-child(1) {
        align-items: center;
    }
    main {
        height: fit-content !important;
        width: 100%;
        justify-content: start !important;
        align-items: start !important;
        overflow: visible;
        padding: 0px;
    }
    .no-print {
        display: none !important;
    }
    .only-print {
        display: block;
    }
}